<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="dbFilePath" value=".\feeds.mdb" />
    <add key="smtpServer" value="smtp.zoznam.sk" />
    <add key="smtpPort" value="587" />
    <add key="smtpUserName" value="heller.ladislav@zoznam.sk" />
    <add key="smtpPassword" value="p@s$w0rd" />
    <add key="fcInterval" value="30000" />    <!-- check interval of feeds in milliseconds -->
    <add key="msInterval" value="60000" />    <!-- batch send internval of mails in milliseconds -->
  </appSettings>
  <connectionStrings>
    <add name="feedsDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Jet OLEDB:Database Password={1};Jet OLEDB:Engine Type=5" providerName="System.Data.OleDb" />
    <!--
    <add name="otherDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Jet OLEDB:Database Password={1}" providerName="System.Data.OleDb"/>
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>